apiVersion: apps/v1
kind: Deployment
metadata:
  name: fluidos-modelbased-metaorchestrator
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      application: fluidos-metaorchestrator
  template:
    metadata:
      labels:
        application: fluidos-metaorchestrator
    spec:
      # serviceAccountName: fluidos-account
      containers:
      - name: fluidos-mbmo
        image: fluidos/metaorchestrator:0.0.1
        imagePullPolicy: IfNotPresent
